# Dependencies
node_modules/
package-lock.json

# Build
dist/
build/
*.tsbuildinfo

# Logs
*.log

# Testing
coverage/
.jest_cache/
.nyc_output/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Prisma
.env.test
prisma/*.log
.venv/
__pycache__/
